USE [master]
GO
/****** Object:  Database [LaboratoriosReservas]    Script Date: 6/2/2026 14:19:34 ******/
CREATE DATABASE [LaboratoriosReservas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LaboratoriosReservas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\LaboratoriosReservas.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LaboratoriosReservas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\LaboratoriosReservas_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LaboratoriosReservas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LaboratoriosReservas]
GO
/****** Object:  Table [dbo].[EstadoLaboratorios]    Script Date: 6/2/2026 14:19:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoLaboratorios](
	[idEstado] [int] NOT NULL,
	[nombreEstado] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoReserva]    Script Date: 6/2/2026 14:19:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoReserva](
	[idEstadoReserva] [int] NOT NULL,
	[nombreEstado] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idEstadoReserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoUsuario]    Script Date: 6/2/2026 14:19:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoUsuario](
	[idEstado] [int] NOT NULL,
	[nombreEstado] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Laboratorios]    Script Date: 6/2/2026 14:19:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Laboratorios](
	[idLaboratorio] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[capacidad] [int] NOT NULL,
	[idEstado] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idLaboratorio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservas]    Script Date: 6/2/2026 14:19:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservas](
	[idReserva] [int] IDENTITY(1,1) NOT NULL,
	[idLaboratorio] [int] NOT NULL,
	[idUsuario] [int] NOT NULL,
	[fecha] [date] NOT NULL,
	[horaInicio] [time](7) NOT NULL,
	[horaFin] [time](7) NOT NULL,
	[cantidadUsuarios] [int] NOT NULL,
	[motivo] [varchar](200) NOT NULL,
	[idEstadoReserva] [int] NOT NULL,
	[fechaCreacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idReserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 6/2/2026 14:19:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[idRol] [int] NOT NULL,
	[nombreRol] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 6/2/2026 14:19:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[usuario] [varchar](50) NOT NULL,
	[contrasena] [varchar](255) NOT NULL,
	[idRol] [int] NOT NULL,
	[idEstado] [int] NOT NULL,
	[nombreUsuario] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Reservas] ADD  DEFAULT ((1)) FOR [idEstadoReserva]
GO
ALTER TABLE [dbo].[Reservas] ADD  DEFAULT (getdate()) FOR [fechaCreacion]
GO
ALTER TABLE [dbo].[Laboratorios]  WITH CHECK ADD FOREIGN KEY([idEstado])
REFERENCES [dbo].[EstadoLaboratorios] ([idEstado])
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD  CONSTRAINT [FK_Reservas_EstadoReserva] FOREIGN KEY([idEstadoReserva])
REFERENCES [dbo].[EstadoReserva] ([idEstadoReserva])
GO
ALTER TABLE [dbo].[Reservas] CHECK CONSTRAINT [FK_Reservas_EstadoReserva]
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD  CONSTRAINT [FK_Reservas_Laboratorios] FOREIGN KEY([idLaboratorio])
REFERENCES [dbo].[Laboratorios] ([idLaboratorio])
GO
ALTER TABLE [dbo].[Reservas] CHECK CONSTRAINT [FK_Reservas_Laboratorios]
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD  CONSTRAINT [FK_Reservas_Usuarios] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuarios] ([idUsuario])
GO
ALTER TABLE [dbo].[Reservas] CHECK CONSTRAINT [FK_Reservas_Usuarios]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD FOREIGN KEY([idEstado])
REFERENCES [dbo].[EstadoUsuario] ([idEstado])
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD FOREIGN KEY([idRol])
REFERENCES [dbo].[Roles] ([idRol])
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD  CONSTRAINT [CHK_Reservas_CantidadUsuarios] CHECK  (([cantidadUsuarios]>(0)))
GO
ALTER TABLE [dbo].[Reservas] CHECK CONSTRAINT [CHK_Reservas_CantidadUsuarios]
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD  CONSTRAINT [CHK_Reservas_HoraFin] CHECK  (([horaFin]>[horaInicio]))
GO
ALTER TABLE [dbo].[Reservas] CHECK CONSTRAINT [CHK_Reservas_HoraFin]
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarReserva]    Script Date: 6/2/2026 14:19:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ActualizarReserva]
    @idReserva INT,
    @idLaboratorio INT,
    @fecha DATE,
    @horaInicio TIME,
    @horaFin TIME,
    @cantidadUsuarios INT,
    @motivo VARCHAR(200)
AS
BEGIN
    BEGIN TRANSACTION;
    
    BEGIN TRY
        -- Validación 1: La reserva debe existir y estar activa
        DECLARE @estadoActual INT;
        SELECT @estadoActual = idEstadoReserva FROM Reservas WHERE idReserva = @idReserva;
        
        IF @estadoActual IS NULL
        BEGIN
            RAISERROR('No se encontró la reserva', 16, 1);
            RETURN;
        END
        
        IF @estadoActual != 1
        BEGIN
            RAISERROR('Solo se pueden modificar reservas activas', 16, 1);
            RETURN;
        END
        
        -- Validación 2: Hora fin > hora inicio
        IF @horaFin <= @horaInicio
        BEGIN
            RAISERROR('La hora de fin debe ser mayor que la hora de inicio', 16, 1);
            RETURN;
        END
        
        -- Validación 3: Capacidad del laboratorio
        DECLARE @capacidad INT;
        SELECT @capacidad = capacidad FROM Laboratorios WHERE idLaboratorio = @idLaboratorio;
        
        IF @cantidadUsuarios > @capacidad
        BEGIN
            RAISERROR('La cantidad de usuarios excede la capacidad del laboratorio', 16, 1);
            RETURN;
        END
        
        -- Validación 4: Verificar solapamiento (excluyendo esta reserva)
        IF EXISTS (
            SELECT 1 FROM Reservas
            WHERE idLaboratorio = @idLaboratorio
                AND fecha = @fecha
                AND idEstadoReserva = 1
                AND idReserva != @idReserva -- Excluir esta reserva
                AND horaInicio < @horaFin
                AND horaFin > @horaInicio
        )
        BEGIN
            RAISERROR('Existe otra reserva que se cruza con el horario seleccionado', 16, 1);
            RETURN;
        END
        
        -- Actualizar reserva
        UPDATE Reservas
        SET 
            idLaboratorio = @idLaboratorio,
            fecha = @fecha,
            horaInicio = @horaInicio,
            horaFin = @horaFin,
            cantidadUsuarios = @cantidadUsuarios,
            motivo = @motivo
        WHERE idReserva = @idReserva;
        
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarUsuario]    Script Date: 6/2/2026 14:19:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ActualizarUsuario]
    @idUsuario INT,
    @usuario VARCHAR(50),
    @nombreUsuario VARCHAR(50),
    @contrasena VARCHAR(255),
    @idRol INT,
    @idEstado INT
AS
BEGIN
    
    -- Validar que el usuario existe
    IF NOT EXISTS (SELECT 1 FROM Usuarios WHERE idUsuario = @idUsuario)
    BEGIN
        RAISERROR('No se encontró el usuario con ID: %d', 16, 1, @idUsuario);
        RETURN;
    END
    
    -- Validar que no exista otro usuario con el mismo nombre de usuario
    IF EXISTS (SELECT 1 FROM Usuarios WHERE usuario = @usuario AND idUsuario != @idUsuario)
    BEGIN
        RAISERROR('Ya existe otro usuario con el nombre: %s', 16, 1, @usuario);
        RETURN;
    END
    
    -- Actualizar usuario
    UPDATE Usuarios
    SET 
        usuario = @usuario,
        nombreUsuario = @nombreUsuario,
        contrasena = @contrasena,
        idRol = @idRol,
        idEstado = @idEstado
    WHERE idUsuario = @idUsuario;
    
    IF @@ROWCOUNT = 0
    BEGIN
        RAISERROR('No se pudo actualizar el usuario', 16, 1);
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CancelarReserva]    Script Date: 6/2/2026 14:19:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CancelarReserva]
    @idReserva INT
AS
BEGIN
    
    -- Validar que la reserva existe y está activa
    DECLARE @estadoActual INT;
    SELECT @estadoActual = idEstadoReserva FROM Reservas WHERE idReserva = @idReserva;
    
    IF @estadoActual IS NULL
    BEGIN
        RAISERROR('No se encontró la reserva', 16, 1);
        RETURN;
    END
    
    IF @estadoActual != 1
    BEGIN
        RAISERROR('Solo se pueden cancelar reservas activas', 16, 1);
        RETURN;
    END
    
    -- Cambiar estado a Cancelada (2)
    UPDATE Reservas
    SET idEstadoReserva = 2
    WHERE idReserva = @idReserva;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ConsultarDisponibilidad]    Script Date: 6/2/2026 14:19:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ConsultarDisponibilidad]
    @idLaboratorio INT,
    @fecha DATE
AS
BEGIN
    
    -- Retornar todas las reservas activas del día
    SELECT 
        r.idReserva,
        r.horaInicio,
        r.horaFin,
        u.nombreUsuario,
        r.motivo,
        r.cantidadUsuarios
    FROM 
        Reservas r
        INNER JOIN Usuarios u ON r.idUsuario = u.idUsuario
    WHERE 
        r.idLaboratorio = @idLaboratorio
        AND r.fecha = @fecha
        AND r.idEstadoReserva = 1 -- Solo activas
    ORDER BY 
        r.horaInicio;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CrearReserva]    Script Date: 6/2/2026 14:19:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CrearReserva]
    @idLaboratorio INT,
    @idUsuario INT,
    @fecha DATE,
    @horaInicio TIME,
    @horaFin TIME,
    @cantidadUsuarios INT,
    @motivo VARCHAR(200)
AS
BEGIN
    BEGIN TRANSACTION;
    
    BEGIN TRY
        -- Validación 1: Hora fin > hora inicio
        IF @horaFin <= @horaInicio
        BEGIN
            RAISERROR('La hora de fin debe ser mayor que la hora de inicio', 16, 1);
            RETURN;
        END
        
        -- Validación 2: Capacidad del laboratorio
        DECLARE @capacidad INT;
        SELECT @capacidad = capacidad FROM Laboratorios WHERE idLaboratorio = @idLaboratorio;
        
        IF @cantidadUsuarios > @capacidad
        BEGIN
            RAISERROR('La cantidad de usuarios (%d) excede la capacidad del laboratorio (%d)', 16, 1, @cantidadUsuarios, @capacidad);
            RETURN;
        END
        
        -- Validación 3: Verificar solapamiento
        IF EXISTS (
            SELECT 1 FROM Reservas
            WHERE idLaboratorio = @idLaboratorio
                AND fecha = @fecha
                AND idEstadoReserva = 1 -- Solo activas
                AND horaInicio < @horaFin
                AND horaFin > @horaInicio
        )
        BEGIN
            RAISERROR('Ya existe una reserva activa que se solapa con el horario seleccionado', 16, 1);
            RETURN;
        END
        
        -- Insertar reserva
        INSERT INTO Reservas (idLaboratorio, idUsuario, fecha, horaInicio, horaFin, 
                             cantidadUsuarios, motivo, idEstadoReserva, fechaCreacion)
        VALUES (@idLaboratorio, @idUsuario, @fecha, @horaInicio, @horaFin, 
                @cantidadUsuarios, @motivo, 1, GETDATE());
        
        COMMIT TRANSACTION;
        
        -- Retornar el ID de la reserva creada
        SELECT SCOPE_IDENTITY() AS idReservaCreada;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CrearUsuario]    Script Date: 6/2/2026 14:19:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CrearUsuario]
@usuario VARCHAR(50),
@contrasena VARCHAR(255),
@nombreUsuario VARCHAR(50)

AS
BEGIN
INSERT INTO Usuarios (usuario, contrasena, idRol, idEstado, nombreUsuario)
VALUES (@usuario, @contrasena, 2, 1, @nombreUsuario)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarLaboratorio]    Script Date: 6/2/2026 14:19:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EliminarLaboratorio]
    @idLaboratorio INT
AS
BEGIN
    -- Validación
    IF NOT EXISTS (
        SELECT 1
        FROM Laboratorios
        WHERE idLaboratorio = @idLaboratorio
    )
    BEGIN
        RAISERROR('El laboratorio no existe.', 16, 1);
        RETURN;
    END

    -- Verificar si el laboratorio tiene reservas asociadas
    IF EXISTS (
    SELECT 1
    FROM Reservas
    WHERE idLaboratorio = @idLaboratorio
)
BEGIN
    RAISERROR('No se puede eliminar el laboratorio porque tiene reservas asociadas.', 16, 1);
    RETURN;
END

    -- Eliminación lógica (inactivar)
    UPDATE Laboratorios
    SET idEstado = 2 -- Inactivo
    WHERE idLaboratorio = @idLaboratorio;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ExisteUsuario]    Script Date: 6/2/2026 14:19:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ExisteUsuario]
@usuario VARCHAR(50)

AS 
BEGIN
IF EXISTS (SELECT 1 FROM Usuarios WHERE usuario = @usuario) 
SELECT 1 AS Resultado;
ELSE 
SELECT 0 AS Resultado;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_FinalizarReserva]    Script Date: 6/2/2026 14:19:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_FinalizarReserva]
    @idReserva INT
AS
BEGIN
    
    -- Validar que la reserva existe y está activa
    DECLARE @estadoActual INT;
    SELECT @estadoActual = idEstadoReserva FROM Reservas WHERE idReserva = @idReserva;
    
    IF @estadoActual IS NULL
    BEGIN
        RAISERROR('No se encontró la reserva', 16, 1);
        RETURN;
    END
    
    IF @estadoActual != 1
    BEGIN
        RAISERROR('Solo se pueden finalizar reservas activas', 16, 1);
        RETURN;
    END
    
    -- Cambiar estado a Finalizada (3)
    UPDATE Reservas
    SET idEstadoReserva = 3
    WHERE idReserva = @idReserva;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_FinalizarReservasPasadas]    Script Date: 6/2/2026 14:19:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_FinalizarReservasPasadas]
AS
BEGIN
    
    DECLARE @fechaHoy DATE = CAST(GETDATE() AS DATE);
    DECLARE @horaActual TIME = CAST(GETDATE() AS TIME);
    
    -- Finalizar reservas cuya fecha ya pasó
    UPDATE Reservas
    SET idEstadoReserva = 3 -- Finalizada
    WHERE idEstadoReserva = 1 -- Solo activas
        AND (
            -- Fecha completamente pasada
            fecha < @fechaHoy
            OR
            -- Fecha de hoy pero hora fin ya pasó
            (fecha = @fechaHoy AND horaFin < @horaActual)
        );
    
    -- Retornar cantidad de reservas finalizadas
    SELECT @@ROWCOUNT AS ReservasFinalizadas;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GuardarLaboratorio]    Script Date: 6/2/2026 14:19:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GuardarLaboratorio]
    @idLaboratorio INT = NULL,
    @nombre        VARCHAR(50),
    @capacidad     INT,
    @idEstado      INT = 1
AS
BEGIN

    IF (@capacidad <= 0)
    BEGIN
        RAISERROR ('La capacidad debe ser mayor que cero.', 16, 1);
        RETURN;
    END

    IF @idLaboratorio IS NULL
    BEGIN
        INSERT INTO Laboratorios (nombre, capacidad, idEstado)
        VALUES (@nombre, @capacidad, @idEstado);

        SELECT SCOPE_IDENTITY() AS idLaboratorio;
    END
    ELSE
    BEGIN
        UPDATE Laboratorios
        SET nombre = @nombre,
            capacidad = @capacidad,
            idEstado = @idEstado
        WHERE idLaboratorio = @idLaboratorio;

        SELECT @idLaboratorio AS idLaboratorio;
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarLaboratoriosActivos]    Script Date: 6/2/2026 14:19:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarLaboratoriosActivos]
AS
BEGIN

    SELECT 
        l.idLaboratorio,
        l.nombre,
        l.capacidad
    FROM Laboratorios l
    WHERE l.idEstado = 1 -- Activo
    ORDER BY l.nombre;
END;


GO
/****** Object:  StoredProcedure [dbo].[sp_ListarReservas]    Script Date: 6/2/2026 14:19:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarReservas]
    @fechaDesde DATE = NULL,
    @fechaHasta DATE = NULL,
    @idLaboratorio INT = NULL,
    @idUsuario INT = NULL,
    @idEstadoReserva INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        r.idReserva,
        r.idLaboratorio,
        l.nombre AS nombreLaboratorio,
        l.capacidad AS capacidadLaboratorio,
        r.idUsuario,
        u.nombreUsuario,
        r.fecha,
        r.horaInicio,
        r.horaFin,
        r.cantidadUsuarios,
        r.motivo,
        r.idEstadoReserva,
        e.nombreEstado AS nombreEstadoReserva,
        r.fechaCreacion
    FROM 
        Reservas r
        INNER JOIN Laboratorios l ON r.idLaboratorio = l.idLaboratorio
        INNER JOIN Usuarios u ON r.idUsuario = u.idUsuario
        INNER JOIN EstadoReserva e ON r.idEstadoReserva = e.idEstadoReserva
    WHERE 
        (@fechaDesde IS NULL OR r.fecha >= @fechaDesde)
        AND (@fechaHasta IS NULL OR r.fecha <= @fechaHasta)
        AND (@idLaboratorio IS NULL OR r.idLaboratorio = @idLaboratorio)
        AND (@idUsuario IS NULL OR r.idUsuario = @idUsuario)
        AND (@idEstadoReserva IS NULL OR r.idEstadoReserva = @idEstadoReserva)
    ORDER BY 
        r.fecha DESC, r.horaInicio ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarTodosLaboratorios]    Script Date: 6/2/2026 14:19:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarTodosLaboratorios]
AS
BEGIN

    SELECT 
        l.idLaboratorio,
        l.nombre,
        l.capacidad,
        e.idEstado,
        e.nombreEstado AS estado
    FROM Laboratorios l
    INNER JOIN EstadoLaboratorios e
        ON l.idEstado = e.idEstado
    ORDER BY l.nombre;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarUsuarios]    Script Date: 6/2/2026 14:19:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarUsuarios]
    @filtroUsuario VARCHAR(50) = NULL,
    @filtroNombreUsuario VARCHAR(50) = NULL,
    @filtroEstado VARCHAR(50) = NULL,
    @filtroRol VARCHAR(50) = NULL
AS
BEGIN
    
    SELECT 
        u.idUsuario,
        u.usuario,
        u.nombreUsuario,
        r.nombreRol AS 'Rol',
        e.nombreEstado AS 'Estado',
        u.idRol,
        u.idEstado
    FROM 
        Usuarios u
        INNER JOIN Roles r ON u.idRol = r.idRol
        INNER JOIN EstadoUsuario e ON u.idEstado = e.idEstado
    WHERE 
        (@filtroUsuario IS NULL OR u.usuario LIKE '%' + @filtroUsuario + '%')
        AND (@filtroNombreUsuario IS NULL OR u.nombreUsuario LIKE '%' + @filtroNombreUsuario + '%')
        AND (@filtroEstado IS NULL OR e.nombreEstado LIKE '%' + @filtroEstado + '%')
        AND (@filtroRol IS NULL OR r.nombreRol LIKE '%' + @filtroRol + '%')
    ORDER BY 
        u.nombreUsuario;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Login]    Script Date: 6/2/2026 14:19:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Login]
    @usuario varchar(50),
    @contrasena varchar(255)
AS 
BEGIN

    SELECT 
        U.idUsuario,
        U.usuario, 
        U.idRol, 
        R.nombreRol as rol, -- Traemos el nombre desde la tabla Roles
        E.nombreEstado as estado,
        U.nombreUsuario
    FROM Usuarios U
    INNER JOIN Roles R ON U.idRol = R.idRol
    INNER JOIN EstadoUsuario E ON U.idEstado = E.idEstado
    WHERE U.usuario = @usuario 
      AND U.contrasena = @contrasena
      AND E.nombreEstado = 'Activo'; -- Opcional: solo permitir login si está activo
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerLaboratorioPorId]    Script Date: 6/2/2026 14:19:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerLaboratorioPorId]
    @idLaboratorio INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        l.idLaboratorio,
        l.nombre,
        l.capacidad,
        l.idEstado,
        e.nombreEstado AS Estado
    FROM 
        Laboratorios l
        INNER JOIN EstadoLaboratorios e ON l.idEstado = e.idEstado
    WHERE 
        l.idLaboratorio = @idLaboratorio;
        
    -- Validar si no se encontró el laboratorio
    IF @@ROWCOUNT = 0
    BEGIN
        RAISERROR('No se encontró el laboratorio con ID: %d', 16, 1, @idLaboratorio);
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerReservaPorId]    Script Date: 6/2/2026 14:19:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerReservaPorId]
    @idReserva INT
AS
BEGIN
    
    SELECT 
        r.idReserva,
        r.idLaboratorio,
        l.nombre AS nombreLaboratorio,
        l.capacidad AS capacidadLaboratorio,
        r.idUsuario,
        u.nombreUsuario,
        r.fecha,
        r.horaInicio,
        r.horaFin,
        r.cantidadUsuarios,
        r.motivo,
        r.idEstadoReserva,
        e.nombreEstado AS nombreEstadoReserva,
        r.fechaCreacion
    FROM 
        Reservas r
        INNER JOIN Laboratorios l ON r.idLaboratorio = l.idLaboratorio
        INNER JOIN Usuarios u ON r.idUsuario = u.idUsuario
        INNER JOIN EstadoReserva e ON r.idEstadoReserva = e.idEstadoReserva
    WHERE 
        r.idReserva = @idReserva;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerUsuarioPorId]    Script Date: 6/2/2026 14:19:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerUsuarioPorId]
    @idUsuario INT
AS
BEGIN
    
    SELECT 
        u.idUsuario,
        u.usuario,
        u.contrasena,
        u.nombreUsuario,
        u.idRol,
        r.nombreRol AS 'Rol',
        u.idEstado,
        e.nombreEstado AS 'Estado'
    FROM 
        Usuarios u
        INNER JOIN Roles r ON u.idRol = r.idRol
        INNER JOIN EstadoUsuario e ON u.idEstado = e.idEstado
    WHERE 
        u.idUsuario = @idUsuario;
        
    -- Validar si no se encontró el usuario
    IF @@ROWCOUNT = 0
    BEGIN
        RAISERROR('No se encontró el usuario con ID: %d', 16, 1, @idUsuario);
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_VerificarSolapamiento]    Script Date: 6/2/2026 14:19:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_VerificarSolapamiento]
    @idLaboratorio INT,
    @fecha DATE,
    @horaInicio TIME,
    @horaFin TIME,
    @idReservaExcluir INT = NULL -- Para edición
AS
BEGIN
    
    -- Buscar reservas activas que se solapen
    SELECT 
        r.idReserva,
        r.horaInicio,
        r.horaFin,
        u.nombreUsuario,
        r.motivo
    FROM 
        Reservas r
        INNER JOIN Usuarios u ON r.idUsuario = u.idUsuario
    WHERE 
        r.idLaboratorio = @idLaboratorio
        AND r.fecha = @fecha
        AND r.idEstadoReserva = 1 -- Solo reservas activas
        AND (@idReservaExcluir IS NULL OR r.idReserva != @idReservaExcluir)
        -- Condición de solapamiento: horaInicioA < horaFinB AND horaFinA > horaInicioB
        AND r.horaInicio < @horaFin
        AND r.horaFin > @horaInicio;
END
GO
USE [master]
GO
